<!doctype html>
<html>
    <head>
        <title>Meetup</title>
    </head>
    <body>
        <header>
            <img src="/img/logo.png" alt="InterLink Meetup" />
        </header>
        {{{ body }}}
    </body>
</html>